{% extends "user_app/base.html" %}
{% block body_block %}
<div class="jumbotron">
  <h2>Login:</h2>
  <form action="{% url 'user_app:user_login' %}" method="post">
    {% csrf_token %}

    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password">Password:</label>
    <input type="password" name="password" value="">

    <input type="submit" name="" value="Login">
  </form>

</div>
{% endblock %}
