{% extends "cbv_app/cbv_app_base.html" %}
{% block body_block %}

<h1>welcome to Home detail view</h1>
<h2>Details:</h2>
<p>Home Info: {{ home.name }}</p>
<p>Location: {{ home.location }}</p>
<p>Owner: {{ home.owner }}</p>

<h3>Members:</h3>
{% for member in home.members.all %}
  <p>{{ member.name }} is {{ member.age }} years old</p>
{% endfor %}

{% endblock %}
