{% extends "cbv_app/cbv_app_base.html" %}
{% block body_block %}

<h1>Welcome to List View</h1>
<ol>
  {% for home in home_list %}
  <h3><li><a href="{{ home.id }}">{{ home.name }}</a></li></h3>
  {% endfor %}
</ol>

{% endblock %}
