{% extends "blog/base.html" %}
{% block body_block %}
<br><br>
<div class="btn-group-vertical">
    <a href="{% url 'admin:index' %}"><button type="button" class="btn btn-info">Admin</button></a><br>
  {% if user.is_authenticated %}
    <a href="{% url 'blog:logout' %}"><button type="button" class="btn btn-warning">Logout</button></a>
  {% else %}
    <a href="{% url 'blog:login' %}"><button type="button" class="btn btn-info">Login</button></a>
    <a href="{% url 'blog:register' %}"><button type="button" class="btn btn-info">Register</button></a><br>
  {% endif %}
</div>

{% endblock %}
