<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>appOne template</title>
  </head>
  <body>
    <h1>This is a test page!!</h1>
    <h2>{{ display_content }}</h2>
  </body>
</html>
