<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django Level 2</title>
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
  </head>
  <body>
    <h1>WELCOME to DJANGO LEVEL TWO!</h1>
    <h2>Access Records</h2>

    <div class="djangotwo">
      {% if access_records %}

        <table>

          <thead>
            <th>Site Name</th>
            <th>Date Accessed</th>
          </thead>

          {% for acc in access_records %}
          <tr>
            <td>{{ acc.name }}</td>
            <td>{{ acc.date }}</td>
          </tr>
        {% endfor %}

        </table>

      {% else %}
          <p>No AccessRecord found</p>
      {% endif %}

    </div>
  </body>
</html>
