/* Commenting in CSS */
/* shortcut: Ctrl + / */

/* selected tag{
  property: value;
} */

h1{
  color: blue;
}
li{
  color: rgb(0, 153, 204); /*rgb - red,green,blue */
}
p{
  color: #009933; /* hex color code */
}
h4 {
  color: rgba(0, 153, 204, 0.5) /*rgba - red,green,blue,alpha (transparency) */
}
