/* selected tag{
  property: value;
} */

body{
  background-image: url("http://images.kuoni.co.uk/73/diamonds-thudufushi-39742672-1505900743-ImageGalleryLightboxLarge.jpg");
  background-color: gray;
}
div{
  background: rgb(0, 153, 204);
  border-color: blue;
  border-width: thick;
  border-style: dashed;
}
p{
  color: green;
}
span{
  background: white;
  color: black;
}
