/* selected tag{
  property: value;
} */

h3{
  background-color: black;
  color: white;
}

/* dot refers to defining a class element */
.title{
  color: orange;
}

.edu{
  color: blue;
}

/* # denotes ids */
#intro{
  color: green;
  text-align: center;
}

/* json sibling - format: select ul immediatly after h3 */
h3 + ul{
  border: 4px dotted purple;
}

/* anchor tags inside list */
li a{
  color: red;
}

/* anchor tag for specific reference inside a list */
li a[href="http://www.google.com"]{
  color: brown;
  border: 5px solid red;
}
