<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FIRST APP</title>
  </head>
  <body>
    <h1>This index.html in template dir</h1>
    {{ insert_me }}
  </body>
</html>
