h1{
  font-family: 'Shojumaru', cursive;
  text-align: center;
}
#uhead{
  font-family: 'Stylish', sans-serif;
  text-align: center;
  font-size: 30px;
}
span{
  font-family: 'Port Lligat Sans', sans-serif;
  text-align: justify;
  font-weight: normal;
  font-size: 20px;
}
.form{
    font-family: 'Stylish', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
input{
  border: 1px;
  border-radius:5px;
  height: 25px;
  width: 300px;
}
#regbutton{
  font-family: 'Shojumaru', cursive;
  font-size: 20px;
  text-align: center;
  border: 2px solid #247ba0;
  border-radius: 25px;
  height: 60px;
  width: 150px;
  background-color: #70c1b3;
  margin-top: 100px
}

#image{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body{
  background-color: #00171f;
  border: 1px solid #4ecdc4;
  border-top: 0px;
  border-width: 70px;
  color: white;
  text-align: center;
}
.signup{
  border: 1px;
  background-color: #00171f;
  font-family: 'Port Lligat Sans', sans-serif;
  text-align: center;
  width: 25%;
  margin: auto;
  color: white;
  padding: 200px
}
