<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/mystyles.css"%}">
    <title>HELP Page</title>
  </head>
  <body>
    <h1>How can i help you?</h1>
    {{ help }}
    <img src="{% static "images/image.png" %}" alt="Image not found">
  </body>
</html>
