<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Welcome to Blog</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Blogger</a>
    </nav>
      <marquee><h3 class="display-5">Welcome to BLOGGER!!!</h3></marquee>
      <div class="container">
        <div class="jumbotron">
          {% block body_block %}
          {% endblock %}
        </div>
      </div>
    </body>
</html>
