{% extends "base.html" %}
{% block body_block %}

<h2>Login:</h2>
<form action="{% url 'blog:login' %}" method="post">
  {% csrf_token %}

  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Enter username"><br>

  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="password"><br>

  <br><input class="btn btn-info" type="submit" name="" value="Login">
</form>

{% endblock %}
