{% extends "base.html" %}
{% block body_block %}
<h4>Register here:</h4>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-primary" type="submit">SignUp</button>
  <!-- <a href="{% url 'blog:thankyou' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">SignUp</a> -->
</form>

{% endblock %}
