{% extends "base.html" %}
{% block body_block %}
  <h4>Continue for Registration</h4>
  <a href="{% url 'blog:new' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Continue</a>
{% endblock %}
