{% extends "base.html" %}
{% block body_block %}

<h2>Thank you for Signing Up!</h2>
<br>
<h4>Click below to Login</h4>
<a href="{% url 'index' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Return</a>

{% endblock %}
