<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>User Info</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <h1> User Info is below:</h1>

    {% if user_info %}

      {% for user in user_info %}
        <ul>
          <li>{{ user.name }}</li>
          <li>{{ user.email }}</li>
        </ul>
      {% endfor %}

    {% else %}
      <p>No users found</p>
      
    {% endif %}

  </body>
</html>
