#one{
  border:5px solid blue;
  width: 25%;
  text-align: center;
  /*  margin format: top right bottom left*/
  margin: auto;
}

#two{
  border:5px solid orange;
  width: 50%;
  padding: 200px;
  text-align: center;
}
