h1{
  font-family: 'Faster One', cursive;
  text-align: center;
  font-size: 50px
}
table{
  border: 1px solid white;
  border-spacing: 10px;
  width: 900px;
  height: 350px;
  margin: auto;
  /* padding: 20px */
}

#one{background-color: #ef476f;}
#two{background-color: #ffd166;}
#three{background-color: #06d6a0;}
#four{background-color: #118ab2;}
#five{background-color: #073b4c;}
