h1{
  font-family: "Tahoma";
  text-align: center;
}

p{
  font-family: "Calibri";
}

/* font-sizing
1em = 16px (default) */

body{
  font-family: 'Creepster', cursive;
  font-size: 20px
}

#p2{
  font-size: 2.0em;
  font-style: italic;
  font-weight: bold;
}
