<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>BASE</title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'cbv_app:list' %}">Home</a>
          <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'admin:index' %}">Admin<span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#"></a>
          </div>
      </nav>
      <div class="jumbotron">
      {% block body_block %}
      {% endblock %}
      </div>
    </div>
  </body>
</html>
