<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>SIGNUP</title>
  </head>
  <body>
    <h3>Sign UP</h3>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" name="" value="Submit">
    </form>

  </body>
</html>
